/Part 2/TipCalculator/TipCalculator.xcodeproj/project.xcworkspace/xcuserdata/CgPanda.xcuserdatad/UserInterfaceState.xcuserstate
/Part 1/SwiftTutorial.playground/playground.xcworkspace/xcuserdata/CgPanda.xcuserdatad/UserInterfaceState.xcuserstate
/Part 3/Part3.playground/playground.xcworkspace/xcuserdata/CgPanda.xcuserdatad/UserInterfaceState.xcuserstate
